<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <H1>Home Page</H1>

        <nav>

             <!-- create a link to home page -->
            <a href="/">Home</a> |
            
            <!-- crete a link to about page -->
            <a href="/about">About</a> |

            <!-- create a link to contact page -->
            <a href="/contact">Contact</a>

        </nav>

        <h1>Submit Your Name</h1>

        <!-- create a form for user input -->
        <form method="POST">

            <input type="text" name="name" required>

            <!--create a submit button -->
            <button type="submit">Submit</button>
        </form>
    
</body>

</html>